<hr>
<h1>create a new plant</h1>
<div class="form">
<div class="form-group">

  <h3>name: </h3>
  <input #name>
</div>
<div class="form-group">

  <h3>type: </h3>
  <select #type>
    <option value="cactus">cactus</option>
    <option value="succulent">succulent</option>
    <option value="moss">moss</option>
    <option value="unknown">other</option>
  </select>
</div>
<div class="form-group">

  <h3>description: </h3>
  <textarea #description></textarea>
</div>
<div class="form-group">

  <h3>care instructions: </h3>
  <textarea #care></textarea>
</div>
<div class="form-group">

  <h3>location: </h3>
  <input #location>
</div>
<div class="form-group">

  <h3>image URL: </h3>
  <input #img>
</div>
  <button (click)='submitForm(name.value, type.value, description.value, care.value, location.value, img.value)'>new plant!</button>
</div>
